.status {
  text-align: center;
  margin-top: 3em;
  font-size: 130%;
  color: gray;
}

.post {
  text-align: center;
}

.blog-content {
  margin-top: 50px;
  max-width: 40em;
  font-size: 160%;
  text-align: justify;
  background: white;
  color: black;
  padding: 20px 20px;
  border: none;
  border-radius: 2px;
  box-shadow: 3px 3px 10px 1px white;
  display: none;
}

.blog-title {
  margin-top: 3em;
  margin-left: 15%;
  margin-right: 10%;
  font-size: 150%;
  text-align: left;
}

.blog-title:hover {
  color: gray;
}

.text-title {
  margin-bottom: 10px;
}

.text-content {
  margin-bottom: 30px;
  font-size: 90%;
  font-weight: bold;
}

.big-text {
  margin-bottom: 30px;
  font-size: 200%;
  font-weight: bold;
}

.x-delete {
  color: gray;
}

.x-delete:hover {
  color: black;
}

a.submit {
  color: black;
}

a.submit:hover {
  text-decoration: underline;
}

a.cancel {
  color: gray;
}

a.cancel:hover {
  text-decoration: underline;
}

table {
  margin-bottom: 30px;
  color: black;
  font-size: 100%;
}

th,
td {
  text-align: center;
  width: 20%;
}

input {
  font-size: 100%;
  border: none;
}

input:focus {
  outline: none;
}