body {
    font-family: serif;
    font-size: 300%;
    background-color: #f2eecb;
}

header {
    width: 90%;
    margin: 10%;
    margin-bottom: 1%;
}

main {
    width: 90%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
    margin-bottom: 10%;
}

main > div {
    display: flex;
    margin: 2%;
}

span {
    position: relative;
    width: 12%;
}

div > div {
    position: relative;
    width: 88%;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: white;
}