* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  font-size: 18px;
  width: 80%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  font-size: 32px;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  font-size: 18px;
  background-color: #4caf50;
  color: white;
  padding: 18px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  width: 80%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 400px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}