* {
  font-family: Consolas, "Comic Sans MS", "Open Sans", Calibri, serif, "Courier New";
  box-sizing: border-box;
}

body {
  font-size: 125%;
  font-family: Consolas, "Comic Sans MS", "Open Sans", Calibri, serif, "Courier New";
  background-color: #fcb3f0;
}

h1 {
  font-size: 400%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: black;
}

table {
  font-size: 80%;
  width: 100%;
  background-color: white;
  border-collapse: collapse;
  border-spacing: 2px;
  border-radius: 10px;
  float: center;
}

th, td {
  padding: 10px;
  text-align: center;
}

input[type=text], select, textarea {
  font-size: 150%;
  width: 125%;
  padding: 18px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
}

label {
  font-size: 200%;
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  font-size: 150%;
  background-color: #fa5ae0;
  color: white;
  padding: 18px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #ff00d5;
}

.container {
  border-radius: 10px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  width: 50%;
  margin-top: 6px;
}

.col-75 {
  width: 80%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 400px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}